/* Container styling for the entire contact page */
.contact-page {
  font-family: Arial, sans-serif;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Header section styling */
.contact-hero {
  text-align: center;
  margin-bottom: 2rem;
}

/* Grid layout for the contact cards */
.contact-info {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

}

/* Styling for each clickable card */
.contact-card {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  gap: 0.5rem;
}

/* Extra section styling */
.contact-resources {
  margin-top: 2rem;
  font-size: 1.25rem;
  text-align: center;
}

.contact-card svg {
  display: block;
  /* helps prevent any baseline shifts */
}

.contact-hero p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.contact-card {
  text-decoration: none;
  color: #000;
  /* Default text color */
  transition: color 0.3s ease;
}

.contact-card:hover {
  color: #ff69b4;
}

/* contact form css */

.contact-form{
    background-color: rgb(255, 211, 222);
    padding: 50px 105px 40px;
    border-radius: 4px;
    margin: 42px 0 25px;
}

.contact-form h2{
  margin-bottom: 24px;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  border-color: lightgray;
  box-shadow: none;
  border-width: 0;
  border-radius: 4px;
}

.contact-form .form-input{
  margin-bottom: 25px;
}

.contact-form input{
  height: 35px;
}

.contact-form textarea{
  height: 95px;
}

.contact-form input:focus-visible, .contact-form textarea:focus-visible{
  outline: none;
}

.contact-form #submitButton{
    width: 34%;
    border-radius: 18px;
    background-color: black;
    color: white;
    margin-left: 22rem;
}

.contact-form #submitButton:hover{
  transform: translateY(-0.25em);
    box-shadow: 0 0 0.5em 0em #5e5e5e;
    border-color: #5e5e5e;
    color: #ffffff;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .contact-form {
    padding: 50px 43px 24px;
    margin-bottom: 20px;
  }
  .contact-form #submitButton {
    width: 44%;
    margin-left: 8rem;
  }
}