.event-container{
  background: linear-gradient(#FFC0CB, #FFF5EE)
}


.event-calendar {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px #F33A6A;
}

.event-calendar h1 {
  color: #d63384;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.event-calendar p {
  text-align: center;
  color: #6b1f3a;
  font-size: 2rem;
}

.event-calendar iframe {
  width: 100%;
  height: 600px;
  border: 3px solid #ff85b3;
  border-radius: 20px;
}
