.custom-card-container .custom-card {
  height: 500px;
}

.custom-card-container .custom-card .card-body{
  height: 250px;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.team-photo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.app-container .row h3{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.card-body .card-title{
  min-height: 48px;
}
