/* Style for the Dropdown items */
.custom-dropdown-menu .dropdown-item {
    color: #333; /* Dark text */
    width: 100%;
    margin: 0; 
}


.custom-dropdown-menu .active-child {
  color: #191919;
}